@charset "utf-8";
/* CSS Document */

body {
	background-color: #4C515B;
	font-family: "Times New Roman", Times, serif;
}

#menu-kontener {
	width: 95%;
	margin-left: 3%;
}

.menu1 {
	
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-color: #4C515B;
	border-width: 0;
	background-color: #4C515B;
}

a:link {
  text-decoration: none;
	color: black;
}

a:visited {
  text-decoration: none;
}
.menu1fo {
	width: 1000px;
	margin: 10% auto;
	border-color: #4C515B;
	border-width: 0;
	background-color: #4C515B;
}

.menufo{
	position: relative;
	width:1000px;
 	background-color: #B47C4A; 
 	color: black; 
  	border: 0px solid #B47C4A;	
 	padding: 40px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 50px;
  	margin: 4px 2px;
  	cursor: pointer;
	transition-duration: 0.4s;
}

.menufo:hover {
	background-color: #C69A74;
  	color: white;

}

.menu3 {
	position: relative;
	width:14%;
 	background-color: #B47C4A; 
 	color: black; 
  	border: 0px solid #B47C4A;	
 	padding: 16px 52px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 40px;
  	margin: 4px 2px;
  	cursor: pointer;
	transition-duration: 0.4s;
}

.menu3:hover {
	background-color: #C69A74;
  	color: white;

}

.tabla_kapcsolat{
	margin-left: 10%;
	margin-top: 300px;
	border: 0 solid #4C515B;
	background-color: #4C515B;
	width: 80%;
	font-size: 28px;
}

.kapcsolat_sor {
	text-align: center;
	border: 0 solid #4C515B;
	background-color: #4C515B;
	border-width: 0;
	font-size:1.4vw;
	width: 500;
	height: 550;
}

.bemutatkozas {
	border: 0 solid #4C515B;
	background-color: #4C515B;
	border-width: 0;
}

.portre{
	width: 500px;
	height: 617px;
}


.form{
	font-size: 28px;
	border: 1px solid #4C515B;
	background-color: #4C515B;
	text-align: center;
}
.t_r_cella {
	background-color:#4C515B;
	padding: 10px;
}

.munkaim_sor {
	border: 0 solid #4C515B;
	background-color: #4C515B;
	border-width: 0;
	
}

.munkaim_img {
	border-style: solid;
	border-width: 3px;
	width: 500px;
	height: auto;
	margin: 15px 0px;
}

.tabla_rolam {
	width: 50%;
	margin-left: 20%;
	margin-top: 10%;
	border-color: #4C515B;
	border-width: 0;
	background-color: #4C515B;
}

.tabla_munkaim {
	width: 50%;
	margin-left: 25%;
	margin-top: 5%;
	
}

.tabla_grafika {
	width: 50%;
	margin-left: 25%;
	margin-top: 3%;
}

.grafika_img {
	width: 500px;
	height: auto;
}


.tabla_forrasok {
	font-size: 25px;
	margin: 10px;
}

.forras {
	width: 1000px;
}

.grafika_sor {
	font-size: 2vw;
	text-align: center;
}


